# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=epg_db
DB_USER=your_db_user
DB_PASSWORD=your_db_password

# EPG Source
EPG_URL=https://raw.githubusercontent.com/dp247/Freeview-EPG/master/epg.xml

# API
API_HOST=0.0.0.0
API_PORT=8000

# Airflow (docker compose)
AIRFLOW_UID=501
